---

services:
  app:
    image: ghcr.io/hargata/lubelogger:latest
    restart: unless-stopped
    # volumes used to keep data persistent
    volumes:
      - data:/App/data
      - keys:/root/.aspnet/DataProtection-Keys
    # expose port and/or use serving via traefik
   environment:
      # C'est cette variable exacte que l'app cherche dans Program.cs
      - POSTGRES_CONNECTION=Server=postgres;Port=5432;User Id=lubelogger;Password=lubepass;Database=lubelogger;
    ports:
      - 8080:8080

  postgres:
    image: postgres:14
    restart: unless-stopped
    environment:
      POSTGRES_USER: "lubelogger"
      POSTGRES_PASSWORD: "lubepass"
      POSTGRES_DB: "lubelogger"
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
      - postgres:/var/lib/postgresql/data
      - /etc/localtime:/etc/localtime:ro
  adminer:
    image: adminer
    restart: unless-stopped
    ports:
      - 8085:8080

  adminer:
    image: adminer
    restart: unless-stopped
    ports:
      - 8085:8080

volumes:
  data:
  keys:
  postgres:
